<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.ComposeVideoPlayer">
            <intent-filter>
                <action android:name="home.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="com.codedev.video.composables.video_player.VideoPlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.ComposeVideoPlayer"
            android:screenOrientation="landscape" />

        <service
            android:name=".VideoPlayerService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService"/>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>
    </application>

</manifest>